<div class="ui raised very padded text container segment" id="blog_content">
  <h2 class="ui header">Blog</h2>
  <div class="ui right close rail">
    <div class="ui sticky">
      <div class="ui labeled icon vertical menu">
        <a class="item" href="/rss.xml">
          <i class="rss icon"></i>
          RSS
        </a>
        <a class="item" href="/atom.xml">
          <i class="rss square icon"></i>
          Atom
        </a>
      </div>
    </div>
  </div>
  <p>
    All of my posts are listed below. <a href="/rss.xml">RSS</a> and <a href="/atom.xml">Atom</a> feeds are also available.
  </p>
  $partial("templates/post-list.html")$
</div>
